.OBToolbarIconButton_icon_gumk_toolbarprint {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/print.png);
}
.OBToolbarIconButton_icon_gumk_toolbarprintRealisasi {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/print.png);
}